@charset "UTF-8";
/* CSS Document */

/* CSS Rules */
* { margin:0; padding: 0; }
img{ border: none; margin: 0; padding: 0; }
a { text-decoration: none; }

/* Default Specs */
#container {
    width: 980px;
    margin: 0 auto;
    background-color: #fff;
}
.hidden {
    display: none;
}
body {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    /*background-color: #ccc;*/
    background: #ccc url(../images/wov2.png); /* we can pass background-color: 
                                                    in background: so that is defaults
                                                     if the image in unavailable */
}

/* Header */
#mainHeader {
    height: 490px;
    width: 980px;
    background: url(../images/home_header.jpg) no-repeat bottom;
    overflow: hidden;
}
#logoHeader {
    float: left;
    margin: 10px 0 20px 0; /*top bottom left right*/
    width: 215px;
    height: 74px;
}

/* Nav */
#mainNav {
    width: 560px;
    float: right;
    margin: 0 0 0 15px;
   /* background-color: red;*/
}
#mainNav ul /* selects the ul only in mainNav */ {
    list-style-type: none; /*removes bullets*/
    float: right;
    padding: 0;
    margin-top: 62px;
}
#mainNav ul li {
    display: inline;
    margin-left: 25px;
}
#mainNav ul li a {
    color: #2073a8;
    padding: 5px;
}
#mainNav ul li a:hover {
    background: #ddeff7;
}
.selected {
    background: #ddeff7;
    padding: 5px;
}
header h2 {
    clear: both;
    color: #fff;
    font-size: 31px;
    margin-top: 410px;
    text-align: center;
}
header h3 {
   text-align: center;
    color: #fff;
    font-size: 14;
    font-weight: normal;
}

/* Content */

/* Section 1 : Resources */
#resources {
    overflow: hidden; /*prevent collapsing, no hard height*/
    padding: 30px 20px 0px 20px; /*tblr*/
}
/* We are floating the three elements left here so that they stack beside eachother */
#packages, #fishGuide {
    width: 300px;
    float: left;
    margin-right: 20px;
}
#donate {
    width: 300px;
    float: left;
}
#resources p {
    font-size: 16px;
    line-height: 20px;
    color: #666;
    margin-top: 20px;
}
.resBut {
    background: #61a3c1;
    width: 100px;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 15px;
    text-align: center;
    color:#fff;
}
.resBut:hover {
    background: #3f6e84;
}

/* Section 2: Testimonials */
#testimonial1, #testimonial2 {
    background: #efefef;
    height: 170px;
    width: 460px; 
    margin-bottom: 20px;
}
/* positioning */
#testimonial1 { clear: both; float: left; }
#testimonial2 { float: right; }

.testImage {
    float:left;
    margin: 20px 10px 15px;/* I have literally no idea why I can do this
                              without putting in a bottom, but whatever */
}
.testimonialName {
    display: block;
    font-weight: bold;
    color: #61a3c1;
    margin: 15px; /* again, I don't really know why this works,
                     but let's roll with it */
}

/* Footer */
#mainFooter {
    height: 124px;
    width: 980px;
    background: url(../images/footer_bg.jpg) repeat-x; /* this is cool, because
                                                          it is kinda like having a gradient without
                                                          having to write one */
}
#logoFooter {
    float: left;
    margin: 25px auto 20px 20px;
}
#socialMediaCon {
    float: right; 
}
.fa {
    font-size: 45px;
}
#iconNav {
    list-style: none;
    margin: 0;
    padding: 0;
}
#iconNav li {
    float: left;
}
#iconNav a .fa {
    color: #666;
    display: block;
    filter: grayscale(100%);
}
#iconNav a:hover{
    filet: grayscale(0%);
}
#footerNav {
    clear:both;
}
#footerNav ul {
    list-style: none;
}
#footerNav  ul li {
    display: inline;
    color: #666;    
    font-size: 12px;
    margin-right: 12px;
}
#footerNav ul li a {
    color: #333;
}
#footernav ul li a:hover {
    color: #999;
}

/* Contact Page Styles */
/* Header */
#mainHeaderContact {
    height: 490px;
    width: 980px;
    background: url(../images/contact_header.jpg) no-repeat bottom;
    overflow: hidden;
}